<mat-card *ngIf="user">
    <h1>Your Profile Details</h1>
<!-- {{ user | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">

<div class="container text-center">
 <img src="https://icon-library.com/images/default-profile-icon/default-profile-icon-24.jpg"
  alt="" class="profile-image"/>
<h1>{{user.firstName}} {{user.lastName}}</h1>
</div>
<!-- we are getting data from localStorage. When we login then we are taking user data and saving the data into localStorage -->
                <div class="row">
                    <div class="col-md-10 offset-md-1">

                        <!-- table details -->
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{ user.username }}</td>
                            </tr>
                            <tr>
                                <td>UserId</td>
                                <td>EXAM{{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>Phone</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled?"ACTIVE":"NON-ACTIVE"}}</td>
                            </tr>
                        </table>

                    </div>

                </div>
            </div>
        </div>
        <!-- <mat-card-actions class="text-center">
            <button mat-raised-button color="primary">Update</button>
            <button mat-raised-button color="accent">SHARE</button>
          </mat-card-actions> -->
    </mat-card-content>
</mat-card>

